/* Le Style pour étape 4 */

/* ------------------------ */
/* Global */
/* ------------------------ */

body {
  /* Gestion du body */
  margin: 10px 0;
  /* margin-top: 10px; */
  background-color: #dceeaa;
  font: 0.8em "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#container {
  /* Gestion de l'enssemble du container de la page  */

  margin: 0 auto;
  width: 770px;
  border: 2px solid #ab4;
}

/* ------------------------ */
/* HEADER */
/* ------------------------ */

header {
  /* gestion du Header avec image */
  background: url("/assets/img/apple.jpg") no-repeat left top;
  height: 258px;
}

header a {
  display: block;
  width: 400px;
  height: 70px;
  background: url("/assets/img/title.gif") no-repeat;
  position: relative;
  left: 350px;
  top: 15px;
  text-indent: -5000000px; /* Indentation négative afin de ne plus être visible pour les users mais pouvant être lu par le moteur de recherche */
}

h1 {
  margin: 0;
}

/* ------------------------ */
/* Navigation */
/* ------------------------ */

nav {
  /* gestion de la navigation général */

  margin-top: 30px;
  height: 35px;
  background: url("/assets/img/bg_menu.gif") 0 -25px;
  margin: 0;
  padding: 0;
  text-align: center;

  /* background-color: #8fd337; */
}

nav ul {
  /* gestion des élements de la nav */
  margin: 0;
  list-style: none;
  display: flex;
}

nav li {
  line-height: 25px;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 2px;
}

nav li a:hover {
  background: url("/assets/img/bg_menu.gif") repeat-x 0 0;
}

nav a {
  /* gestions des liens de la nav */

  border-right: 2px solid #dea;
  padding-right: 20px;
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

main {
  background-color: white;
}

.subTitle {
  color: #9b2;
  border-bottom: 1px solid #9b2;
}

.text-green {
  /* COuleur lien en vert et pas de déco  */
  color: #8a0;
  text-decoration: none;
}

/* ------------------------ */
/* contenue */
/* ------------------------ */

#contenu {
  /* Gestion de du contenue dans la section  */
  background: url("/assets/img/bg_page.gif") no-repeat;
  margin: 15px 15px;
  padding: 0 30px 0 100px;
}

#contenu #a-droite {
  text-align: right;
}

#contenu h2 {
  padding-left: 25px;
  background: url("/assets/img/little_apple.gif") no-repeat left bottom;
}

/* citation */

#contenu blockquote {
  padding-left: 10px;
  border-left: 5px solid #9b2;
}

/* suite contenue */

#contenu h3 {
  color: #8fd337;
  border-bottom: 1px solid #9b2;
  border-left: 3px solid #9b2;
  padding-left: 5px;
  margin-left: 15px;
}

#contenu p {
  text-align: justify;
  text-indent: 2em;
  line-height: 1.7em;
}

#contenu a:hover {
  /* :hover = au survol de l'élements */

  text-decoration: underline;
}
/* ------------------------ */
/* FOOTER */
/* ------------------------ */

footer p {
  margin: 0;
  text-align: right;
  line-height: 30px;
  color: #8a0;
  padding-right: 10px;
}
